body{
    text-align: center;
    background-image: url(./imgs/laugh_bg.jpg);
    background-position: center;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-top: 0;   
    font-size: 1.5rem;
}
h3 {
    font-size: 0.8rem;
}
.container{
    height: 100vh;
}
.hoy {
    text-align: left;
    display: flex;
    align-items: center;
}
.weatherDiv {
    text-align: left;
    margin: 0;
    font-size: .9rem;
    display: inline;
}
.weatherImg {
    width: 70px;
}
.tempDiv {
    display: inline;
    border-left: solid 1px black;
    padding-left:0.4rem;
}
.acudits{
    margin: 0 auto 30px;
    background-color: rgba(252, 246, 236, .8);
    width: 50%;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(119, 108, 87);
    border:solid rgba(119, 108, 87, 0.3) .5px;
}
.jokeText {
    margin: 2rem 0;
    font-size: 1.5rem;
}
.acuditButton {
    width: 150px;
    height: 40px;
    border:0;
    border-radius: 6px;
    background-color: #FFC83D;
    color: black;
    font-size: .9rem;
}

.acuditButton:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}
.score {
    margin: 0.5rem 0;
}
input{
    display: none;
}
label{
    font-size: 1.2rem;
    margin :0 0.5rem;
}
input[type="radio"]:checked + label{
    background-color: #3dcfda;
    border-radius: 3px;
}

